<%- include ('free_header')%>

	<h1 style="text-align: center; font-size: 50;"><b> This is Members home page </b></h1>
	<h3 style="text-align: center; font-size: 30;">Welcome : <%= num %> </h3>
	
		

<div class="center" id="search_result">
	<h3 class="text">Car For Rent</h3>
	<table class="table table-striped">
		<thead>
			 <!-- <th>id</th> user.buyer_uname, user.buyer_email, user.job_desc, user.job_date, user.salary, user.freelancer_uname -->
			<th> Car Name</th>
			<th>Brand</th>
			<th>Rent Amount/Day</th>
			<th> image</th>
			<th>Category</th>
			<th>Action</th>
			
		</thead>
		<tbody>
			<% for(var i=0; i< userlist.length; i++ ){ %>
				<tr>
					<td><%= userlist[i].id %></td>
					<td><%= userlist[i].car_name %></td>
					<td><%= userlist[i].company%></td>
					<td><%= userlist[i].rent_amount %></td>
					<td><%= userlist[i].image %></td>
					<td><%= userlist[i].category_id %></td>
					<!-- <td><%= userlist[i].freelancer_uname %></td> -->
					<!-- need to work on the apply button -->
					<td><a href="/member/rent/<%=userlist[i].id%>"class="btn btn-success">Rent</a></td>  
					
				</tr>
				<% } %>
		
			
		</tbody>
	</table>
</div>
  
	</table>
</body>
</html>